.contact-us{
    cursor:pointer;
}
#footer_job {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }
 .imgsize{
    height:24px;
    
 }
